image: node:20

stages:
  - install
  - test
  - k8s-validate

cache:
  key: node-modules
  paths:
    - node_modules/

install:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/
    expire_in: 1h

tests:
  stage: test
  script:
    - npm test
  allow_failure: true

kubernetes_dry_run:
  stage: k8s-validate
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  script:
    - kubectl version --client
    - |
      find kubernetes -type f \( -name "*.yml" -o -name "*.yaml" \) \
      -exec kubectl apply --dry-run=client -f {} \;


