deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: 2020-10-24
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: index_
          period: 24h

  limits_config:
    retention_period: 168h
    allow_structured_metadata: false

singleBinary:
  replicas: 1

  persistence:
    enabled: true
    size: 5Gi
    storageClass: hostpath

  resources:
    requests:
      cpu: 100m
      memory: 256Mi

# DESLIGAR TUDO QUE GERA POD EXTRA
canary:
  enabled: false

chunksCache:
  enabled: false

resultsCache:
  enabled: false

gateway:
  enabled: false

ruler:
  enabled: false

compactor:
  enabled: false

indexGateway:
  enabled: false

queryScheduler:
  enabled: false

tableManager:
  enabled: false

# GARANTIA ABSOLUTA
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0
