mode: deployment

replicaCount: 1

image:
  repository: otel/opentelemetry-collector-contrib
  tag: "0.143.0"

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

alternateConfig:
  extensions:
    health_check:
      endpoint: 0.0.0.0:13133

  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:

  exporters:
    otlp/tempo:
      endpoint: tempo.observability.svc.cluster.local:4317
      tls:
        insecure: true

  service:
    extensions: [health_check]

    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp/tempo]
