apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'kubernetes-nodes'
        kubernetes_sd_configs:
          - role: node
          
      - job_name: 'grafana'
        static_configs:
          - targets: ['grafana.observability.svc.cluster.local:3000']

      - job_name: 'loki'
        static_configs:
          - targets: ['loki.observability.svc.cluster.local:3100']
