apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv
  namespace: observability
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /tmp/grafana-data
